body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container_width {
    width:1400px !important;
}

.train_number {
    width:120px !important;
}

.departure_date {
    width:140px !important;
}

.timestamp {
    width:170px !important;
}

.track_section {
    width:150px !important;
}

.next_track_section {
    width:165px !important;
}

.previous_track_section {
    width:175px !important;
}

.station {
    width:70px !important;
}

.next_station {
    width:135px !important;
}

.previous_station {
    width:170px !important;
}

.station_name {
    width:250px !important;
}